.topBtn{
  position: fixed;
  font-size: 20px;
  padding: .25rem .5rem;
  font-weight: bold;
  right: 8px;
  z-index: $zindex-fixed;
  bottom: 32px;
  display: none;
  transition: 1s;
  color: $primary;
  border: 1px solid $primary;
  cursor: pointer;
  &:hover{
    color: #fff;
    background-color: $primary;
  }
  @media (min-width: 768px) {
    right: 24px;
  }
  @media (min-width: 992px) {
    right: 48px;
    padding-left: .75rem;
    padding-right: .75rem;
  }
}