.cardImg{
  height: 200px;
}

.bgContainer{
  height: 300px;
  overflow: hidden;
  .bgImg{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover{
    .bgImg{
      background-color: rgba(#000, .4);
    }
    .bgText{
      font-weight: bold;
    }
  }
}

.mainImage{
  height: 240px;
  width: 100%;
  @media (min-width: 768px) {
    height: 280px;
  }
  @media (min-width: 992px) {
    height: 320px;
  }
}

.detailImg{
  height: 80px;
  width: 100%;
  &:hover{
    cursor: pointer;
  }
  @media (min-width: 768px) {
    height: 100px;
  }
  @media (min-width: 992px) {
    height: 120px;
  }
}