.navbar-collapse{
  background-color: #fff;
  margin: 0 -12px;
  padding-left: 12px;
  @media (min-width: 992px) { 
    background-color: transparent;
    margin: 0;
    padding-left: 0;
  }
}

.fixNav{
  position: fixed;
  z-index: $zindex-fixed;
  top: 0;
  width: 100%;
}

.navbar{
  transition: .5s;
}

.changeNav{
  border-bottom: 2px solid $primary;
  background-color: $white;
  box-shadow: 0 0.125rem 0.25rem rgba($black, .3);
}

.subNav{
  .nav-link:hover{
    background-color: rgba($primary, .5);
    color: $dark;
  }
}